/* occupy.net occupy_screen.css */

@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);
@font-face {
    font-family: 'OSPDIN';
    src: url('../fonts/osp-din-webfont.eot');
    src: url('../fonts/osp-din-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/osp-din-webfont.woff') format('woff'),
         url('../fonts/osp-din-webfont.ttf') format('truetype'),
         url('../fonts/osp-din-webfont.svg#OSPDIN') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Global
-------------------------------------------------------------- */

a:link     { }
a:visited     {  }
a:focus,
a:hover     {  }

.noClear {clear:none;}
.inline {display:inline !important;}
.alignleft, .al {text-align: left;}
.aligncenter, .ac {text-align: center;}
.alignright, .ar {text-align: right;}
.justify, .aj {text-align:justify;}

.bold, .b 		{ font-weight:bold; }
.italic, .i 		{ font-style: italic; }
.upperCase, .uc 	{ text-transform: uppercase; }
.lowerCase, .lc 	{ text-transform: lowercase; }
.titleCase, .tc 	{ text-transform: capitalize; }

.logo {
color:#FC0;
font-family:OSPDIN,sans-serif;
text-transform: uppercase;
}

.logo .black { color:#000; }
.logo .white { color:#FFF; }

/* Navigation
-------------------------------------------------------------- */

#navBar {
background-color: black;
height:36px;
}

#headNav { list-style:none; margin:0; padding:0; }

#headNav li { float:left; font-family: 'Didact Gothic',sans-serif; padding:10px; height:16px; text-transform:uppercase; letter-spacing: 2px; }
#headNav .logo { font-size: 24px; font-family:OSPDIN,sans-serif; padding:0 10px; height:auto; }

#headNav li a,
#headNav li a:link,
#headNav li a:visited { color:#AAA; font-family:inherit; text-decoration:none; }

#headNav li a:hover { color:#EEE; }

#title {
height:400px;
margin-top: 30px;
margin-bottom:30px;
text-align: center;
}


#subLogo {margin: 0; font-size: 100px; color: #FFCC00; text-shadow: 0px 1px 2px #CCC; line-height: 1em; letter-spacing: 1px;} 
#subLogo .domain {margin-left: -8px; color: #000;}

#tagline {font-size: 18px; color: #AAA; margin: -.5em 0 1em; text-shadow: none; font-weight: normal; letter-spacing: 1px;  line-height: 1em;}


/* Content
-------------------------------------------------------------- */

.intro p {text-align: left; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; margin-top: 1em; margin-bottom: 2em;}


/* Products
-------------------------------------------------------------- */

.products { position:relative; clear: both;}
.products ul { list-style:none; margin:0; padding:0; }
.products ul > li {
display:inline-block;
width: 230px;
background: #F2F2F2;
text-align: left;
margin: 0 0 10px;
padding: 0;
float: left;
height: 54px;
}
.products ul > li:hover {cursor: pointer; background: #E2E2E2;}

.product_name a,
.product_name a:link,
.product_name a:visited {
font-size: 36px; 
color:#FFCC00;
letter-spacing: 2px;
padding: 4px 10px;
text-decoration: none;
text-transform: uppercase;
}
.product_name a:hover {color: #000;}


/* Subsections ---------------------- */

.product_name {font-family: OSPDIN, sans-serif; margin: 0; }
.product_status {display: inline-block; float: right; color: #CCC; font-size: 14px; margin:0; padding: 7px 7px 0 0; text-transform: uppercase; letter-spacing: 1px;}

.product_details {display:none; padding: 0 10px 10px;}
.product_details a { text-decoration:none; }

.product_details li {font-size:10px; margin-right:10px;}
.product_details li:last-child { margin:0; }
.product_details li a,
.product_details li a:link,
.product_details li a:visited {
color:#000;
letter-spacing: 2px;
text-decoration: none;
text-transform: uppercase;
}
.product_details li a:hover { border-bottom:1px black dotted; }

.product_url {font-size: 18px; font-family: OSPDIN, sans-serif; font-weight: normal; text-transform: uppercase; letter-spacing: 1px; color: #AAA; margin-top: -9px; margin-bottom: 0; }
.product_text {font-size: 12px; color: #000; margin: 5px 0 8px; font-family: 'Didact Gothic',sans-serif; }
.product_nav {font-size: 11px; margin: 0; line-height: 1em; }
.product_nav a {display: inline-block; margin-right: 7px;}



  
/* Inactive Products ---------------------- */

.product_name.inactive > a,
.product_name.inactive > a:link,
.product_name.inactive > a:visited { color:#AAA; }

.product_name.inactive > a:hover { border-bottom:none; }


/* Footer
-------------------------------------------------------------- */

#footer {width:100%; text-align:center; color:#ccc; font-size:10px; text-transform: uppercase; letter-spacing: 1px; position: absolute; bottom: 0; left: 0; text-align: left; clear: both;}
.footer_nav {padding: 15px 15px; }
#footer a { color:#999; text-decoration: none; }