/* occupy.net occupy_screen.css */

@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

/* Global
-------------------------------------------------------------- */

a:link     { }
a:visited     {  }
a:focus,
a:hover     {  }

.noClear {clear:none;}
.inline {display:inline !important;}
.alignleft, .al {text-align: left;}
.aligncenter, .ac {text-align: center;}
.alignright, .ar {text-align: right;}
.justify, .aj {text-align:justify;}

.bold, .b 		{ font-weight:bold; }
.italic, .i 		{ font-style: italic; }
.upperCase, .uc 	{ text-transform: uppercase; }
.lowerCase, .lc 	{ text-transform: lowercase; }
.titleCase, .tc 	{ text-transform: capitalize; }

/* Navigation
-------------------------------------------------------------- */

#navBar {
background-color: black;
height: 36px;
}

#title {
margin-top: 10%;
margin-bottom:10%;
text-align: center;
}

/* Products
-------------------------------------------------------------- */

.products {}
.products ul { list-style:none; }
.products ul li {
display:inline;
font-family: 'Didact Gothic', sans-serif; 
font-size: 24px;
margin-right: 24px;
}

.products ul li:last-child { margin:0; }

.products ul li a,
.products ul li a:link,
.products ul li a:visited {
color:#000;
letter-spacing: 2px;
text-decoration: none;
text-transform: uppercase;
}
.products ul li a:hover { border-bottom:1px black dotted; }

.products ul li.inactive a,
.products ul li.inactive a:link,
.products ul li.inactive a:visited { color:#ccc; }

.products ul li.inactive a:hover { border-bottom:none; }

/* Footer
-------------------------------------------------------------- */

#footer { width:100%; text-align:center; color:#ccc; font-size:10px; }
#footer a { color:#999; }