/*------ RESET --------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
textarea,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* make IE8+ match webkit box model: */

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* j.mp/bestclearfix */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/*------ LOAD WEB FONTS --------*/
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('../fonts/League_Gothic-webfont.eot');
  src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/League_Gothic-webfont.woff') format('woff'), url('../fonts/League_Gothic-webfont.ttf') format('truetype'), url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansRegular';
  src: url('../fonts/PTS55F-webfont.eot');
  src: url('../fonts/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS55F-webfont.woff') format('woff'), url('../fonts/PTS55F-webfont.ttf') format('truetype'), url('../fonts/PTS55F-webfont.svg#PTSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansBold';
  src: url('../fonts/PTS75F-webfont.eot');
  src: url('../fonts/PTS75F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS75F-webfont.woff') format('woff'), url('../fonts/PTS75F-webfont.ttf') format('truetype'), url('../fonts/PTS75F-webfont.svg#PTSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansItalic';
  src: url('../fonts/PTS56F-webfont.eot');
  src: url('../fonts/PTS56F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS56F-webfont.woff') format('woff'), url('../fonts/PTS56F-webfont.ttf') format('truetype'), url('../fonts/PTS56F-webfont.svg#PTSansItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSansBoldItalic';
  src: url('../fonts/PTS76F-webfont.eot');
  src: url('../fonts/PTS76F-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/PTS76F-webfont.woff') format('woff'), url('../fonts/PTS76F-webfont.ttf') format('truetype'), url('../fonts/PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
.League {
  font-family: 'LeagueGothicRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}
.PTSansRegular {
  font-family: 'PTSansRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: normal;
}
.PTSansBold {
  font-family: 'PTSansBold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: normal;
}
.PTSansItalic {
  font-family: 'PTSansItalic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-style: normal;
}
.PTSansBoldItalic {
  font-family: 'PTSansBoldItalic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}
/*------ GLOBAL --------*/
body {
  margin: 0;
  background: #FFF;
  color: #333;
  padding: 0 0 20px;
  font-family: 'PTSansRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.3em;
}
/*------ TYPOGRAPHY --------*/
h1,
h2,
h3,
h4,
h5 {
  font-family: 'LeagueGothicRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1em;
}
h6,
b,
strong,
dt {
  font-family: 'PTSansBold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: normal;
}
p,
li,
dd,
td {
  font-family: 'PTSansRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: normal;
  line-height: 1.1em;
}
i,
em {
  font-family: 'PTSansItalic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-style: normal;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6,
p,
li,
dd,
dt {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 1em 0 0;
}
dd {
  margin-left: 2em;
  margin-bottom: .75em;
}
td {
  line-height: 1.3em;
}
ul,
ol {
  margin-left: 1.5em;
}
blockquote {
  padding-left: 1.0em;
  margin-left: 1.0em;
  border-left: 1px solid #333;
  font-family: 'PTSansItalic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-style: normal;
}
/*------ COLORS --------*/
/*------ VARIABLES --------*/
.width1 {
  width: 110px;
}
.height1 {
  height: 110px;
}
.width2 {
  width: 230px;
}
.height2 {
  height: 230px;
}
.large {
  width: 350px;
  height: 350px;
  z-index: 100;
}
/*------ LINKS + BUTTONS --------*/
a,
a:active,
a:visited {
  text-decoration: none;
  color: #333333;
}
a img,
a:active img,
a:visited img {
  border: none;
}
a:hover,
a:active:hover,
a:visited:hover {
  text-decoration: underline;
}
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"] {
  font-family: 'LeagueGothicRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 18px;
  color: #FFF;
  background: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1.3em;
  border: 0;
  padding: 3px 15px;
  margin: 10px 10px 10px 0;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="file"]:hover {
  background: #00aeef;
}
/*------ Recommended Isotope styles --------*/
/**** Infinite Scroll ****/
#infscr-loading {
  position: fixed;
  text-align: center;
  bottom: 30px;
  left: 42%;
  z-index: 100;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/*------ End recommended Isotope styles --------*/
/*------  PAGE STYLES --------*/
/* required for containers to inherit vertical size from window */
html,
body {
  height: 100%;
}
#content {
  margin: 20px 5%;
  height: 100%;
}
#container {
  border: 1px solid #666;
  padding: 5px;
  margin-top: 5px;
  /* undo reset of box model, so isotope height is correct: */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
footer {
  font-size: 12px;
  padding: 10px 0;
  text-transform: uppercase;
}
footer a {
  margin-right: 10px;
}
footer span {
  float: right;
}
footer span a {
  font-family: 'PTSansBold', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: normal;
  margin-right: 0;
}
/*------  GENERAL STYLES --------*/
.btn {
  font-family: 'LeagueGothicRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  background-color: #FFCC00;
  color: #333;
}
.btn:hover {
  background-color: #555;
  color: #FFCC00;
  text-decoration: none;
}
/*------  NAV BAR --------*/
#options {
  margin-top: 20px;
}
#options ul {
  margin: 0;
  list-style: none;
}
#options li {
  float: left;
  margin-bottom: 0.2em;
  font-family: 'LeagueGothicRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 18px;
}
#options li a {
  display: block;
  padding: 5px 10px;
  background-color: #FFCC00;
  color: #333;
  border-left: 2px solid #FFF;
}
#options li a.selected {
  background-color: #333;
  text-shadow: none;
  color: #FFCC00;
}
#options li a:hover {
  background-color: #555;
  color: #FFCC00;
  text-decoration: none;
}
#options li a:active {
  background-color: #333;
  color: #FFCC00;
}
#options li:first-child a {
  border-left: none;
}
.option-logo {
  float: left;
}
.option-logo h1 {
  margin-top: 10px;
  margin-bottom: 0;
  letter-spacing: 1px;
}
.option-logo .occupy {
  color: #ffcc00;
}
.option-combo {
  float: right;
  margin: 13px 0 0 40px;
  display: inline-block;
  vertical-align: top;
}
.option-combo ul {
  display: inline-block;
}
.option-combo h3 {
  float: left;
  margin: 3px 5px 0 0;
}
.option-def dl dt,
.option-def dl dd {
  float: left;
  padding: 0 1.2em;
  background: #161616;
  line-height: 36px;
  height: 36px;
}
.option-def dl.header dt,
.option-def dl.header dd {
  background: #444;
}
.option-def dl .option-type {
  font-size: 13px;
  color: #AAA;
  font-style: italic;
}
.option-def dl dd {
  border-left: 1px solid #222;
}
/*------  ELEMENTS --------*/
.element {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #333;
}
.element * {
  margin: 0 10px;
}
.element * * {
  margin: 0;
}
.element:hover {
  background: #26A6DD;
  color: white;
  cursor: pointer;
}
.element:hover * {
  color: white;
}
.clickable .element:hover {
  cursor: pointer;
}
.clickable .element:hover h2 {
  color: white;
}
.project {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #333;
  height: 110px;
  width: 110px;
  background: #CCC;
}
.project * {
  margin: 0 10px;
}
.project * * {
  margin: 0;
}
.project:hover {
  background: #26A6DD;
  color: white;
  cursor: pointer;
}
.project:hover * {
  color: white;
}
.project .title {
  clear: both;
  margin-bottom: 2px;
}
.project .status {
  opacity: .3;
  font-size: 16px;
}
.project .icon {
  margin: 7px;
  float: right;
  height: 40px;
  width: 40px;
}
.project .content {
  display: none;
}
#eventsLoading {
  height: 16px;
  width: 110px;
  margin: 10px 0;
}
#eventsLoading.done {
  display: none;
  height: 0;
  width: 0;
}
.event {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #333;
  height: 110px;
  width: 230px;
  background: #AAA;
}
.event * {
  margin: 0 10px;
}
.event * * {
  margin: 0;
}
.event:hover {
  background: #26A6DD;
  color: white;
  cursor: pointer;
}
.event:hover * {
  color: white;
}
.event .title {
  color: #FFF;
  margin: 10px 10px 2px;
}
.classified {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #333;
  height: 110px;
  width: 230px;
  background: #FFF;
  border: 1px dashed #BBB;
  padding: 10px;
}
.classified * {
  margin: 0 10px;
}
.classified * * {
  margin: 0;
}
.classified:hover {
  background: #26A6DD;
  color: white;
  cursor: pointer;
}
.classified:hover * {
  color: white;
}
.classified .title {
  font-family: 'PTSansBold';
  letter-spacing: 0;
  font-size: 18px;
  line-height: 1.2em;
  text-transform: none;
  margin: 2px 0 2px;
  height: 64px;
  overflow: hidden;
}
.classified .date,
.classified .description {
  display: none;
}
.classified:before {
  content: "Help wanted! ";
}
.classified:hover .title {
  color: #FFF;
}
.forum {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #333;
  height: 110px;
  width: 230px;
  background: #FFF;
  border: 1px solid #999;
}
.forum * {
  margin: 0 10px;
}
.forum * * {
  margin: 0;
}
.forum:hover {
  background: #26A6DD;
  color: white;
  cursor: pointer;
}
.forum:hover * {
  color: white;
}
.forum .title {
  margin-top: 10px;
  margin-bottom: 2px;
}
.campaign {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #333;
  height: 110px;
  width: 110px;
  background: #FFCC00;
}
.campaign * {
  margin: 0 10px;
}
.campaign * * {
  margin: 0;
}
.campaign:hover {
  background: #26A6DD;
  color: white;
  cursor: pointer;
}
.campaign:hover * {
  color: white;
}
.campaign .title {
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 21px;
  line-height: 21px;
  height: 63px;
  overflow: hidden;
}
.campaign .date {
  color: #FFF;
  font-family: 'LeagueGothicRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1em;
  height: 32px;
  overflow: hidden;
}
.campaign .description {
  display: none;
}
.news {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #333;
  height: 230px;
  width: 230px;
  background: #333;
}
.news * {
  margin: 0 10px;
}
.news * * {
  margin: 0;
}
.news:hover {
  background: #26A6DD;
  color: white;
  cursor: pointer;
}
.news:hover * {
  color: white;
}
.news * {
  color: #FFF;
}
.news .title {
  margin-top: 10px;
  height: 2em;
  overflow: hidden;
  width: 200px;
}
.news .date {
  margin-top: 5px;
  opacity: .5;
}
.news .content {
  margin-top: 5px;
  margin-bottom: 10px;
}
.news ul {
  margin: 0 25px;
  display: none;
}
.news a {
  color: #FFF;
}
.news iframe,
.news img {
  width: 100%;
  height: auto;
}
.welcome {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #333;
  height: 230px;
  width: 230px;
  background: #FFF;
  border: 1px solid #BBB;
}
.welcome * {
  margin: 0 10px;
}
.welcome * * {
  margin: 0;
}
.welcome:hover {
  background: #26A6DD;
  color: white;
  cursor: pointer;
}
.welcome:hover * {
  color: white;
}
.welcome .title {
  font-family: 'PTSansBoldItalic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 10px 10px 8px;
  font-size: 16px;
}
.welcome .text {
  font-family: 'PTSansItalic', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 1.2em;
}
.photo {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #333;
  height: 230px;
  width: 230px;
  background: #333;
}
.photo * {
  margin: 0 10px;
}
.photo * * {
  margin: 0;
}
.photo:hover {
  background: #26A6DD;
  color: white;
  cursor: pointer;
}
.photo:hover * {
  color: white;
}
.photo:hover {
  border: 4px solid #00aeef;
}
.photo * {
  margin: 0;
}
.photo .title,
.photo .date {
  display: none;
}
.photo iframe,
.photo img {
  height: 100%;
  width: auto;
}
.thumbnail {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #333;
  height: 110px;
  width: 110px;
  background: #eeeeee;
}
.thumbnail * {
  margin: 0 10px;
}
.thumbnail * * {
  margin: 0;
}
.thumbnail:hover {
  background: #26A6DD;
  color: white;
  cursor: pointer;
}
.thumbnail:hover * {
  color: white;
}
.thumbnail:hover {
  border: 0;
  background: #00aeef;
}
.thumbnail * {
  margin: 0;
}
.thumbnail .title,
.thumbnail .date {
  display: none;
}
.thumbnail iframe,
.thumbnail img {
  width: 100%;
  height: auto;
}
.directory {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #333;
  height: 110px;
  width: 110px;
  background: #FFF;
  border: 1px solid #CCC;
  padding: 10px;
}
.directory * {
  margin: 0 10px;
}
.directory * * {
  margin: 0;
}
.directory:hover {
  background: #26A6DD;
  color: white;
  cursor: pointer;
}
.directory:hover * {
  color: white;
}
.directory .title {
  color: #FC0;
  margin: 1px 0;
}
.directory:hover .title {
  color: #FFF;
}
.directory:before {
  content: "NEW:";
}
.directory p,
.directory .text,
.directory div,
.directory span {
  display: none;
}
.map {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #333;
  height: 110px;
  width: 110px;
  background: #666;
}
.map * {
  margin: 0 10px;
}
.map * * {
  margin: 0;
}
.map:hover {
  background: #26A6DD;
  color: white;
  cursor: pointer;
}
.map:hover * {
  color: white;
}
.map .title {
  color: #FFF;
  margin: 10px;
  font-size: 21px;
  height: 84px;
  overflow: hidden;
}
.map p,
.map .text,
.map div,
.map span {
  display: none;
}
.wiki {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #333;
  height: 230px;
  width: 230px;
  background: #ffffff url(../img/topics/mayday.jpg) no-repeat bottom center;
  border: 1px solid #BBB;
  padding: 10px;
}
.wiki * {
  margin: 0 10px;
}
.wiki * * {
  margin: 0;
}
.wiki:hover {
  background: #26A6DD;
  color: white;
  cursor: pointer;
}
.wiki:hover * {
  color: white;
}
.wiki:before {
  content: "Learn more about ";
}
.wiki * {
  margin: 0;
}
.info {
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  background: #FFF;
  color: #333;
  height: 230px;
  width: 230px;
  background: #FFF;
  border: 1px solid #BBB;
}
.info * {
  margin: 0 10px;
}
.info * * {
  margin: 0;
}
.info:hover {
  background: #26A6DD;
  color: white;
  cursor: pointer;
}
.info:hover * {
  color: white;
}
.info .title {
  margin: 10px 10px 0;
}
.info .date {
  margin: 5px 10px;
  opacity: .4;
}
/*------  SHADOW BOX --------*/
.sb-display,
.sb-display-inline {
  display: none;
}
#layer {
  background: #FFF;
  padding: 10px;
}
#layer * {
  color: #333;
}
#layer .sb-display {
  display: block;
}
#layer .sb-display-inline {
  display: inline;
}
#layer .content {
  display: block;
  width: 400px;
  margin-left: 180px;
}
#layer .launch {
  font-family: 'LeagueGothicRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  background-color: #FFCC00;
  color: #333;
  font-size: 28px;
  float: right;
  line-height: 1.5;
  padding: 0 10px;
}
#layer .launch:hover {
  background-color: #555;
  color: #FFCC00;
  text-decoration: none;
}
#layer .icon {
  float: left;
}
#layer .title {
  margin-top: 0;
}
#layer .status {
  margin-top: 0;
}
#layer .description {
  margin-top: 10px;
}
#layer .description p {
  margin-bottom: 10px;
}
#layer .description iframe {
  width: 100%;
}
#sb-title-inner,
#sb-info-inner,
#sb-loading-inner,
div.sb-message {
  font-family: 'PTSansRegular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-weight: normal;
  color: #333;
}
#sb-container {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: left;
  visibility: hidden;
  display: none;
}
#sb-overlay {
  position: relative;
  height: 100%;
  width: 100%;
}
#sb-wrapper {
  position: absolute;
  visibility: hidden;
  width: 100px;
}
#sb-wrapper-inner {
  position: relative;
  overflow: hidden;
  height: 100px;
}
#sb-body {
  position: relative;
  height: 100%;
}
#sb-body-inner {
  position: absolute;
  height: 100%;
  width: 100%;
}
#sb-player.html {
  height: 100%;
  overflow: auto;
}
#sb-body img {
  border: none;
}
#sb-loading {
  position: relative;
  height: 100%;
}
#sb-loading-inner {
  position: absolute;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  top: 50%;
  margin-top: -12px;
  width: 100%;
  text-align: center;
}
#sb-loading-inner span {
  background: url(../shadowbox-3.0.3/loading.gif) no-repeat;
  padding-left: 34px;
  display: inline-block;
}
#sb-body,
#sb-loading {
  background-color: #FFF;
}
#sb-title,
#sb-info {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#sb-title,
#sb-title-inner {
  height: 26px;
  line-height: 26px;
}
#sb-title-inner {
  font-size: 16px;
}
#sb-info,
#sb-info-inner {
  height: 20px;
  line-height: 20px;
}
#sb-info-inner {
  font-size: 12px;
}
#sb-nav {
  float: right;
  height: 16px;
  padding: 2px 0;
  width: 45%;
}
#sb-nav a {
  display: block;
  float: right;
  height: 16px;
  width: 16px;
  margin-left: 3px;
  cursor: pointer;
  background-repeat: no-repeat;
}
#sb-nav-close {
  background-image: url(../shadowbox-3.0.3/close.png);
}
#sb-nav-next {
  background-image: url(../shadowbox-3.0.3/next.png);
}
#sb-nav-previous {
  background-image: url(../shadowbox-3.0.3/previous.png);
}
#sb-nav-play {
  background-image: url(../shadowbox-3.0.3/play.png);
}
#sb-nav-pause {
  background-image: url(../shadowbox-3.0.3/pause.png);
}
#sb-counter {
  float: left;
  width: 45%;
}
#sb-counter a {
  padding: 0 4px 0 0;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
#sb-counter a.sb-counter-current {
  text-decoration: underline;
}
div.sb-message {
  font-size: 12px;
  padding: 10px;
  text-align: center;
}
div.sb-message a:link,
div.sb-message a:visited {
  color: #fff;
  text-decoration: underline;
}
